<div class="container">
  <h1>Planilla</h1>
  <button class="btn btn-primary" (click)="crearRegistroEmpleado()">Nuevo</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empleado</th>
        <th scope="col">Puesto</th>
        <th scope="col">Área</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados; let i=index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{empleado.nombres + " " + empleado.apellidos}}</td>
        <td>{{empleado.contratos.length > 0 ? empleado.contratos[0].puesto.descripcion : 'INACTIVO'}}</td>
        <td>{{empleado.contratos.length > 0 ? empleado.contratos[0].puesto.area.descripcion : 'INACTIVO'}}</td>
      </tr>
    </tbody>
  </table>
</div>